.sidemenu_open{
    width: 260px; 
    visibility: visible; 
    will-change: auto;
}

.sidemenu_close{
    width: 0px; 
    visibility: hidden; 
    will-change: auto;
}

.main_container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes at least full height of the screen */
}

.content_div {
    padding: 20px;
    flex: 1; 
    /* margin-left: 10px; */
}

.first_title {
    font-size: 36px;
    text-align: left;
}

.second_title {
    font-size: 28px;
    font-weight: 300;
}

.description_one, .description_two {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-left: 20px;
}

/* Style for the pink section */
.pink-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* margin-left: 10px; */
    height: 35%; /* This will take up 3/4 of the screen height */
    background-color: #f1c7d6; /* Pink background color */
}

.highlight_main {
    color: #FF6347; /* Choose any color you like */
    text-align: left;
    margin-left: 20px;
	margin-top: 23px;
}

.highlight:nth-child(1) {
    color: #841e1a; /* Example color for Attention */
}

.highlight:nth-child(2) {
    color: #841e1a; /* Example color for Imagination */
}

.highlight:nth-child(3) {
    color: #841e1a; /* Example color for Big Events */
}
  
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
	font-size: 2.3em;
}

em {
	color: #232027;
}

.wrapper {
	width: 45%;
	margin: 40px auto;
}

div.gallery {
	margin-top: 30px;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: #f0f0f0;
}

div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

p.attribution {
	font-family: 'Consolas';
	color: #000;
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}

p.attribution a {
	color: #4c8d7c;
}

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 200px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}